/* App.css */

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Set a gray background */
body {
  background-color: #f1f1f1;
}